@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

.forum-section {
    background-color: #D3FFE2;
    height: auto;
    text-align: center;
}

.quiz-section {
    background-color: #EDEFFF;
    height: auto;
    text-align: center;
}

.forum-body {
    margin-left: 13%;
    margin-right: 5%;
    display: flex;
}

.quiz-body {
    margin-left: 5%;
    margin-right: 15%;
    display: flex;
}

.pic {
    background-blend-mode: normal;
    width: 65em;
    height: 15em;
    border: solid black;
    border-radius: 20px;
}
.body {
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.5em;
    margin-left: 15%;
    margin-right: 15%;
}

.b {
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}

.b1 {
    background-color: #FFD5D4;
    border-color: #B37270;
}

.b2 {
    background-color: #2647F5;
    border-color: #1e39be;
}
