@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

.aboutus {
    background-color: #EDEFFF;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
    height: auto;
}

.head {
    font-size: 4em;
    font-family: 'Readex Pro', sans-serif;
}

.about-body {
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.5em;
    margin-left: 15%;
    margin-right: 15%;
}