.rvp {
  height: auto;
  background-color: var(--color-bg-main);
  border: 2px solid black;
  border-radius: 25px;
}

.topics {
  height: auto;
  background-color: #d9d9d9;
  border: 2px solid black;
  border-radius: 25px;
}
.quizzes {
  height: auto;
  background-color: #c7ffd2;
  border: 2px solid black;
  border-radius: 25px;
}

.side-right-1 {
  height: auto;
  background-color: #e8adad;
  border: 2px solid black;
  border-radius: 25px;
}

.side-right-2 {
  height: auto;
  background-color: #e8adad;
  border: 2px solid black;
  border-radius: 25px;
}
