@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

.category {
  background-color: white !important;
  border-radius: 10px !important;
  border: 2px solid #ccc !important;
  color: black !important;
  font-family: 'Readex Pro', sans-serif !important;
  font-size: 20px !important;
  padding: 12px !important;
  width: 100% !important;
  margin-bottom: 20px !important;
}

.activeCategory {
  background-color: var(--color-border-input-form) !important;
  border-radius: 10px !important;
  border: 2px solid #ccc !important;
  color: black !important;
  font-family: 'Readex Pro', sans-serif !important;
  font-size: 20px !important;
  padding: 12px !important;
  width: 100% !important;
  margin-bottom: 20px !important;
}

.last-button {
  background-color: var(--color-border-input-form);
  border-radius: 10px 10px 10px 10px;
  width: 100% !important;
  font-size: 20px !important;
  font-family: 'Readex Pro', sans-serif;
  border: 1px solid #0f52d8;
}
