@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

.category {
  background-color: white !important;
  color: black !important;
  border-radius: '4px' !important;
  font-weight: 'bold' !important;
  text-transform: 'uppercase' !important;
  transition: 'box-shadow 0.2s ease-in-out' !important;
  font-family: 'Readex Pro', sans-serif !important;
  font-size: 20px !important;
  padding: 12px !important;
  width: 100% !important;
  margin-bottom: 20px !important;
}

.activeCategory {
  background-color: #7fa3eb !important;
  color: black !important;
  border-radius: '4px' !important;
  font-weight: 'bold' !important;
  text-transform: 'uppercase' !important;
  transition: 'box-shadow 0.2s ease-in-out' !important;
  font-family: 'Readex Pro', sans-serif !important;
  font-size: 20px !important;
  padding: 12px !important;
  width: 100% !important;
  margin-bottom: 20px !important;
}

.last-button {
  background-color: var(--color-border-input-form);
  color: black !important;
  border-radius: '4px' !important;
  font-weight: 'bold' !important;
  text-transform: 'uppercase' !important;
  transition: 'box-shadow 0.2s ease-in-out' !important;
  font-family: 'Readex Pro', sans-serif !important;
  font-size: 20px !important;
  padding: 12px !important;
  width: 100% !important;
  margin-bottom: 20px !important;
}
