@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

.input-space input[type='checkbox'] {
  display: none;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic {
  background-color: gray;
  color: white;
  font-size: 3em;
  font-family: 'Readex Pro', sans-serif;
  margin-bottom: 1em;
  margin-inline: 1em;
  border-radius: 5px;
  border: 15px solid transparent;
  padding: 0.7em 0 0.7em 0;
  width: 10em;
}

.topic:hover {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) s0 8px 15px;
  transform: translateY(-2px);
}

.stuff {
  color: white;
  margin-bottom: 0;
}

.t0 {
  font-size: 2em;
  width: 13em;
}

.t1 {
  background-color: rgb(31, 211, 31);
}

.t2 {
  background-color: rgb(230, 43, 43);
}

.t3 {
  background-color: rgb(12, 12, 250);
}

.t4 {
  background-color: rgb(233, 152, 3);
}

.wrap-collabsible {
  background-image: url('https://www.transparenttextures.com/patterns/bright-squares.png');
  padding: 1.2rem 0;
}

/* .space {
    height: 1em;
}

.lbl-toggle { 
    display: block;
    font-weight: bold; 
    font-family: 'Readex Pro', sans-serif; 
    font-size: 2.5vw;
    text-transform: uppercase; 
    text-align: center; 
    padding: 1rem; 
    margin-left: 20%; 
    margin-right: 20%;
    color: #DDD; 
    cursor: pointer; 
    border-radius: 10px; 
    transition: all 0.25s ease-out;
} 

.lbl-toggle:hover { 
    color: #FFF; 
}

.lbl-toggle::before { 
    content: ' '; 
    display: inline-block; 
    border-top: 5px solid transparent; 
    border-bottom: 5px solid transparent; 
    border-left: 5px solid currentColor; 
    vertical-align: middle; 
    margin-right: .7rem; 
    transform: translateY(-2px); 
    transition: transform .2s ease-out; 
} 

.toggle:checked+.lbl-toggle::before { 
    transform: rotate(90deg) translateX(-3px); 
} 

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-in-out; 
}

.toggle:checked + .lbl-toggle + .collapsible-content { 
    max-height: fit-content; 
} 

.toggle:checked+.lbl-toggle { 
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0; 
}
 
.collapsible-content .content-inner { 
    text-align: center;
    background: rgb(197, 240, 255); 
    border-bottom: 1px solid rgba(0, 105, 255, .45); 
    border-bottom-left-radius: 7px; 
    border-bottom-right-radius: 7px; 
    padding: .5rem 1rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1em; 
} 

.collapsible-content p { 
    margin-bottom: 0; 
}

.topic {
    background: rgb(197, 240, 255);
    border: none;
    font-size: 1.5em;  
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px; 
}
 */
