.btr,
.bts {
  padding-top: 15px;
  background-color: #d4baff;
}
.text {
  font-size: 16px;
}

.bts {
  border: 1px solid black;
  border-radius: 25px;
}

.badge {
  background-color: gray;
  margin-left: 3px;
}
