.container-style {
    background: #F5F6FA;
    width: 4.5em;
}

.btn-sign-style {
    color: #C5C6EF;
}

.num-style {
    font-size: large;
    color: #5357B6;
}

@media only screen and (max-width: 720px) {
    .container-style {
        width: 3.5em;
    }
    .num-style {
        font-size: small;
    }
    
}

