@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
 
.detail {
    background-color: var(--color-bg-second);
    font-family: 'Readex Pro', sans-serif;
}
 
.list-group-item {
    background: var(--color-bg-second);
}
 
.mid {
    background-color: var(--color-bg-main);
    padding:5% 15%;
}
 
.bot {
    padding: 5% 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.fr {
    display: block;
}
 

.vid {
    position: relative;
    min-width: 475px;
    min-height: 315px;
    height: 0;
}


.vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}
