@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
 
.detail {
    text-align: center;
    background-color: var(--color-bg-second);
    font-family: 'Readex Pro', sans-serif;
}
 
.top {
    padding: 5%;
}
 
.list-group-item {
    background: var(--color-bg-second);
}
 
.mid {
    background-color: var(--color-bg-main);
    border-radius: 50px;
    padding:5% 15%;
}
 
.bot {
    padding: 5% 15%;
}
 
.fr {
    margin: 5%;
    float: left;
}
 
.vid {
    margin: 5%;
}