@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

.join-screen {
  background-color: var(--color-bg-second);
  background-image: url('https://www.transparenttextures.com/patterns/bright-squares.png');
}

.qname,
.qattempts,
.qamount,
.qdescription {
  font-family: 'Readex Pro', sans-serif;
}
.qinfo {
  border-left: 1px solid black;
}

.quizstart {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, system-ui,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.quizstart:hover {
  background-color: #374151;
}

.quizstart:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .quizstart {
    padding: 0.75rem 1.5rem;
  }
}
