@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

.join-screen {
  background-color: var(--color-bg-second);
  background-image: url('https://www.transparenttextures.com/patterns/bright-squares.png');
}

.qname,
.qattempts,
.qamount,
.qdescription {
  font-family: 'Readex Pro', sans-serif;
}
.qinfo {
  border-left: 1px solid black;
}
