@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

.join-screen {
  background-color: var(--color-bg-second);
  background-image: url('https://www.transparenttextures.com/patterns/bright-squares.png');
}

.qtitle,
.qname,
.qattempts,
.qamount,
.qdescription {
  font-family: 'Readex Pro', sans-serif;
}
.qname {
  font-size: 1.5rem;
  color: #333;
}
