@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

.top-quizhome {
  background-color: pink;
  background-image: url('https://www.transparenttextures.com/patterns/bright-squares.png');
}
.quiz-logo {
  font-size: 7em;
  font-family: 'Readex Pro', sans-serif;
  text-shadow: -1.3px 1.3px #2196f3, -2.6px 2.6px #43a047, -3.9px 3.9px #ff5722;
}
.bottom-quizhome {
  background-color: var(--color-bg-second);
}

.bottom-home {
  /* height: auto;
  min-height: 100vh; */
  width: 100%;
  background-color: var(--color-quiz-home);
  background-image: url('https://www.transparenttextures.com/patterns/gplay.png');
}


.quiz-home-buttons {
  align-items: center;
  border: #f3218a 0px solid;
  max-width: 30rem;
}