@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
.quiz-screen {
  background-color: var(--color-bg-second);
  background-image: url('https://www.transparenttextures.com/patterns/bright-squares.png');
  height: auto;
  min-height: 100vh;
}

.question-count,
.question-text {
  font-family: 'Readex Pro', sans-serif;
}

.countbar {
  margin-left: 20px;
}

.answerbutton-wrong {
  background-color: #e83845;
  border: 2px solid #ccc;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, system-ui,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  margin-right: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.answerbutton-right {
  background-color: #00a64a;
  border: 2px solid #ccc;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, system-ui,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  margin-right: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.answerbutton {
  background-color: whitesmoke;
  border: 2px solid #ccc;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, system-ui,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  margin-right: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.quizenterbutton {
  background-color: #58a2db;
  border: 2px solid #ccc;
  border-radius: 0.75rem;
  padding: 0.75rem 1.2rem;
}

@media (min-width: 768px) {
  .answerbutton {
    padding: 0.75rem 1.5rem;
  }
}
