li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: var(--color-socials-hover);
}
.box{
    background-color: var(--color-nav-foot);
    /* temp to just see whre it starts & ends */
    background-color: var(--color-nav-foot);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.web_nav{
    font-size: 2vh;
    pad: 5rem;
    position: relative;
    border-left: 1px solid black;
}
.web_soc{
    font-size: 2vh;
    pad: 5rem;
    position: relative;
    border-left: 1px solid black;

}
.web_service{
    position: relative;
    text-align: center;
}
.ojkj_team{
    position: relative;
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
}
.ojkj_team:hover{
    color: var(--color-socials-hover);
}
.nav-link:hover{
    color: var(--color-socials-hover);
}
.web_logo{
    position: relative;
    left: 42%;
    display: block;
    max-width: 20%;
    min-width: 10%;
}
@media only screen and (max-width: 1500px) {
    .web_nav{
        font-size:1.2vw;
    }
    .web_soc{
        font-size:1.2vw;
    }
    .web_service{
        position: relative;
    }
}
@media only screen and (max-width: 1000px){
    .web_soc{
        margin-left: 3px;
    }
}
