@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

.forums-section {
    width: fit-content;
    background-color: #d1fbff;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

.forum-title {
    font-size: 6em;
    font-family: 'Readex Pro', sans-serif;
    padding-bottom: 0.5em;
}

.category-label {
    font-size: 3em;
    font-weight: bold;
}

.search-bar {
    background-color: #eff8f8;
    border-radius: 5px 5px 5px 5px;
    color: black;
    font-size: 1.3em;
    padding: 0.5em 1.5em 0.5em 1em;
    width: 85%;
}

.btn-group {
    color: black;
    flex-direction: column; 
    padding-top: 1em;
}

.category {
    background-color: var(--color-bg-main);
    border-radius: 10px 10px 10px 10px;
    border: none;
    font-size: 1.5em;
    width: 19em;
    margin-bottom: 0.8em;
}

.last-button {
    background-color: var(--color-border-input-form);
    border-radius: 10px 10px 10px 10px;
    font-size: 3vh;
    border: 0.1em solid black;
}

.filter-button {
    background-color: var(--color-bg-alg-dash);
    border-right: 0.1em solid black;
    font-size: 1.8em;
    font-weight: bold;
    width: 7.5em;
    height: 3em;
}

.first-filter {
    border-radius: 10px 0px 0px 10px;
}

.last-filter {
    border-radius: 0px 10px 10px 0px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.side1 {
    text-align: center;
    flex: 0.3;
    margin-right: 3%;
}

.side2 {
    text-align: center;
    flex: 0.3;
    margin-left: 3%;
}

.middle {
    text-align: center;
    flex: 0.6;
}

/*For mobile */

@media (max-width: 800px) {
    .column {
        flex-direction: column;
    }
    
    .category {
        font-size: 1.5em;
    }
}