@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

.forums-section {
    width: auto;
}

.forum-title {
    font-size: 8vh;
    font-family: 'Readex Pro', sans-serif;
    padding-bottom: 1%;
}

.category-label {
    font-size: 3.5vh;
    text-decoration: underline;
}

.search-bar {
    background-color: #eff8f8;
    border-radius: 5px 5px 5px 5px;
    color: black;
    font-size: 2vh;
    padding: 2% 15% 2% 15%;
}

.btn-group {
    color: black;
    flex-direction: column; 
    padding-top: 5%;
}

.category {
    background-color: var(--color-bg-main);
    border-radius: 10px 10px 10px 10px;
    border: none;
    font-size: 3vh;
    width: 40vh;
    margin-bottom: 20px;
}

.last-button {
    background-color: var(--color-border-input-form);
    border-radius: 10px 10px 10px 10px;
    font-size: 3vh;
    border: 1px solid black;
}

.filter-button {
    background-color: var(--color-bg-alg-dash);
    border-right: 1px solid black;
    font-size: 2.5vh;
    width: 180px;
    width: 20vh;
    height: 6.5vh;
}

.first-filter {
    border-radius: 10px 0px 0px 10px;
}

.last-filter {
    border-radius: 0px 10px 10px 0px;
}

.recent-posts {
    margin-left: 6vh;
    height: 20vh;
    width: 35vh;
    background-color: var(--color-bg-main);
}

.related-posts {
    margin-left: 6vh;
    height: 20vh;
    width: 35vh;
    background-color: var(--color-bg-main);
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.side1 {
    text-align: center;
    flex: 0.3;
    margin-right: 3%;
}

.side2 {
    text-align: center;
    flex: 0.3;
    margin-left: 3%;
}

.middle {
    text-align: center;
    flex: 0.6;
}
