@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

.section {
    height: fit-content;
    background-color: var(--color-bg-main );
    text-align: center;
}

.title {
    font-size: 6em;
    padding-top: 1em;
}

.slogan {
    font-size: 3em;
    font-style: italic;
    font-weight: 500;
    padding-bottom: 1em;
}

.button {
    background-color: black;
    border-radius: 10px 10px 10px 10px;
    color: white;
    font-family: 'Readex Pro', sans-serif;
    font-size: 2em;
}   