@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

.wikibody {
  padding-bottom: 5%;
  background-color: #9df7ff;
  background-image: url('https://www.transparenttextures.com/patterns/gplay.png');
}

.wikititle {
  text-align: center;
  font-family: 'Readex Pro', sans-serif;
  font-size: 5em;
  padding-bottom: 2%;
  text-shadow: -1px 1px #7e57c2,
               -2px 2px #2196f3,
               -3px 3px #26c6da,
               -4px 4px #43a047,
               -5px 5px #eeff41,
               -6px 6px #f9a825,
               -7px 7px #ff5722;
}

.indent {
  margin-left: 1.5em;
}

.fs {
  font-size: 1.5em;
}

h3 {
  font-size: 3em;
  text-align: center;
  font-family: 'Readex Pro', sans-serif;
}

h5 {
  font-family: 'Readex Pro', sans-serif;
  font-size: 1.5em;
  font-weight: 100;
}

.card-body {
  box-shadow: 5px 10px var(--color-border-input-form);
}
