.quizpreview {

  border-radius: 25px;
  width: 400px !important;
  background-color: #ffffff;
  box-shadow: 1.5px 1.5px pink, 5px 5px hotpink;
  transition: transform 3s ease-in-out;
  will-change: transform;
}
.nav-hover:hover {
  color: rgb(238, 105, 134);
  transform: translateX(-5px) translateY(-5px) scale(1.02);
 
}
