@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

h1 {
    font-family: 'Readex Pro', sans-serif;
    padding-bottom: 20px;
    padding-top: 50px;
    text-align: center;
}

.component {
    background-color: #d3fef4;
}

.languages {
    background-color: #636160;
    border-radius: 20px;
    color: azure;
    font-size: 18px;
    font-weight: bold;
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
}

.description {
    font-family: 'Readex Pro', sans-serif;
    background-color: black;
    border-radius: 25px;
    border-style: solid;
    color: white;
    font-size: 25px;
    height: 300px;
    margin-left: 30%;
    margin-right: 30%;
    white-space: pre-wrap;
}

.react-tabs__tab--selected {
    background: #173fcf;
    color: white;
    border-radius: 10px;
    border-style: none;
  }

.bottom {
    height: 70px;
}

@media only screen and (max-width: 576px) {
    .description {
        font-size: 8px;
    }
}

@media only screen and (max-width: 868px) {
    .description {
        font-size: 12px;
    }
}

