@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

.about-us {
    background-color: #fdb2a5;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
    height: auto;
}

h1 {
    font-family: 'Readex Pro', sans-serif;
    padding-bottom: 20px;
    padding-top: 50px;
    text-align: center;
}

.head {
    font-size: 4em;
    font-family: 'Readex Pro', sans-serif;
    text-shadow: -1.3px 1.3px #2196f3,
    -2.6px 2.6px #43a047,
    -3.9px 3.9px #ff5722;
}

.about-body {
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.5em;
    margin-left: 15%;
    margin-right: 15%;
}

.bottom {
    height: 70px;
}