@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

.forums-section {
    width: fit-content;
}

.forum-title {
    font-size: 8vh;
    font-family: 'Readex Pro', sans-serif;
    padding-bottom: 1%;
}

.category-label {
    font-size: 3vh;
    text-decoration: underline;
}

.search-bar {
    background-color: #D9D9D9;
    border-radius: 5px 5px 5px 5px;
    color: black;
    font-size: 2vh;
    padding: 2% 15% 2% 15%;
}

.btn-group {
    color: black;
    flex-direction: column; 
    padding-top: 5%;
}

.category {
    background-color: #D9D9D9;
    border-radius: 10px 10px 10px 10px;
    border: none;
    font-size: 2vh;
    width: 40vh;
    margin-bottom: 20px;
}

.last-button {
    background-color: #A9A9A9;
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
    font-size: 3vh;
    border: 1px solid black;
}

.filter-button {
    background-color: #D9D9D9;
    border-right: 1px solid black;
    font-size: 2.5vh;
    width: 180px;
    width: 20vh;
    height: 6.5vh;
}

.first-filter {
    border-radius: 10px 0px 0px 10px;
}

.last-filter {
    border-radius: 0px 10px 10px 0px;
}

.posts {
    height: 1000px;
    background-color: #D9D9D9;
}

.recent-posts {
    margin-left: 6vh;
    height: 20vh;
    width: 35vh;
    background-color: #D9D9D9;
}

.related-posts {
    margin-left: 6vh;
    height: 20vh;
    width: 35vh;
    background-color: #D9D9D9;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.side1 {
    text-align: center;
    flex: 0.3;
    margin-right: 3%;
}

.side2 {
    text-align: center;
    flex: 0.3;
    margin-left: 3%;
}

.middle {
    text-align: center;
    flex: 0.6;
}

/* Device specific sizing */
@media only screen and (max-width: 700px) {
    .forum-title {
        font-size: 1vh;
    }

    .category-label {
        font-size: 1vh;
    }
  }