.alg_visualizer{
    background:var(--color-bg-alg-dash);
    border: 2px solid;
    border-color: var(--color-border);
    border-radius: 1rem 1rem 1rem 1rem;
}

.alg_vis_btn_play{
    background-color: var(--color-bg-alg-dash);
    color: var(--color-black);
    width: 5rem;
    border: 1px solid;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.alg_vis_btn_play:hover{
    background-color: var(--color-bg-white);
}

.alg_vis_btn_inData{
    border: 1px solid;
    background-color: var(--color-bg-alg-dash);
    color: var(--color-black);
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.alg_vis_btn_inData:hover{
    background-color: var(--color-bg-white);
}
.alg_vis_btn_steps{
    background-color: var(--color-bg-alg-dash);
    color: var(--color-black);
    border: 1px solid;
    width: 5.5rem;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.alg_vis_btn_steps:hover {
    background-color: var(--color-bg-white);
}

.alg_vis_btn_steps_amount {
    background-color: var(--color-bg-alg-dash);
    border: 1px solid;
    color: var(--color-black);
    width: 8.5rem;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.alg_vis_btn_steps_amount:hover{
    background-color: var(--color-bg-white);
}

.alg_vis_btn_prev{

    border: 1px solid var(--color-black);
    background-color: var(--color-bg-alg-dash);
    border-radius: 1.5rem .5rem .5rem 1.5rem;
}
.alg_vis_btn_prev:hover{
    background-color: var(--color-bg-white);
}

.alg_vis_btn_next{

    border: 1px solid var(--color-black);
    background-color: var(--color-bg-alg-dash);
    border-radius: .5rem 1.5rem 1.5rem .5rem;
}
.alg_vis_btn_next:hover{
    background-color: var(--color-bg-white);
}

.alg_vis_btn_like {

    border: 1px solid;
    height: 100%;
    width: 5.2em;
    background-color: var(--color-bg-alg-dash);
    color: var(--color-black);
    border-radius: 1.5rem 0 0 1.5rem;
}
.alg_vis_btn_like:hover{
    background-color: var(--color-bg-white);
}

.alg_vis_btn_dislike {

    border: 1px solid;
    height: 100%;
    width: 5.2em;
    background-color: var(--color-bg-alg-dash);
    color: var(--color-black);
    border-radius: 0;
}
.alg_vis_btn_dislike:hover{
    background-color: var(--color-bg-white);
}

.alg_vis_btn_report {

    border: 1px solid;
    height: 100%;
    width: 5.2em;
    background-color: var(--color-bg-alg-dash);
    color: var(--color-black);
    border-radius: 0 1.5rem 1.5rem 0;
}
.alg_vis_btn_report:hover{
    background-color: var(--color-bg-white);
}

/* 
    padding-top: -100px;
    border: 1px solid;
    position: absolute;
    align-items: left;
    top: 2.5rem;
    left: 45rem;
    background-color: var(--color-bg-alg-dash);
    color: var(--color-black);
    width: 5em;
    height: 1.4rem;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;   

*/
