.alg_visualizer{
    background:var(--color-bg-alg-dash);
    position: relative;
    width: 100rem; 
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
    top: -1rem;
    border: 2px solid;
    border-color: var(--color-border);
    border-radius: 1rem 1rem 1rem 1rem;
}

.alg_vis_btn_play{
    position: absolute;
    top: 1rem;
    left: .4rem;
    background-color: var(--color-bg-alg-dash);
    color: var(--color-black);
    width: 5rem;
    height: 2.5rem;
    border: 1px solid;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.alg_vis_btn_play:hover{
    background-color: var(--color-bg-white);
}


.alg_vis_btn_inData{
    position: absolute;
    top: 1rem;
    left: 6.5rem;
    border: 1px solid;
    background-color: var(--color-bg-alg-dash);
    color: var(--color-black);
    width: 8.5rem;
    height: 2.5rem;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.alg_vis_btn_inData:hover{
    background-color: var(--color-bg-white);
}
/* .alg_vis_btn_steps{
    position: absolute;
    top: 1rem;
    left: 16.5rem;
    background-color: var(--color-bg-alg-dash);
    color: var(--color-black);
    width: 8.5rem;
    height: 2.5rem;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
} */

.alg_vis_btn_steps:hover{
    background-color: var(--color-bg-white);
}

.alg_vis_btn_prev{
    border: 1px solid;
    position: absolute;
    align-items: left;
    top: 2.5rem;
    left: 45rem;
    background-color: var(--color-bg-alg-dash);
    color: var(--color-black);
    width: 5em;
    height: 1.5rem;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;   
}